

<h1>All <%= 'My ' if params[:action] == 'mine'%>Images</h1>






<div id="links">

  <% @images.each do |image| %>

  <%# link_to image_tag(image.url, :alt => image.url, :class => 'thumb'), image, :data => {:gallery => true}, :class => 'gallery-link' %>
  <%= link_to '', image_path(image), :data => {:gallery => true}, :class => 'gallery-link', :style => "background-image: url(#{ cl_image_path image.url })" %>
  <% end %>

    <!-- <a href="images/apple.jpg" title="Apple" data-gallery>
        <img src="images/thumbnails/apple.jpg" alt="Apple">
    </a>
    <a href="images/orange.jpg" title="Orange" data-gallery>
        <img src="images/thumbnails/orange.jpg" alt="Orange">
    </a> -->
</div>
