

<h1>All <%= 'My ' if params[:action] == 'mine'%>Images</h1>

<div id="links">

  <% @images.each do |image| %>

  <%= link_to '', image_path(image), :data => {:gallery => true}, :class => 'gallery-link', :style => "background-image: url(#{ cl_image_path image.url })" %>
  <% end %>

</div>
