
<%= cl_image_tag @image.url, :class => "feature" %>
<p>Uploaded by <%=@image.user.email%> on <%= @image.created_at.strftime('%e %B %Y')%></p>



  <div class="row">
    <div class="col-md-4"></div>

  

        <%= button_to "Delete", @image, :class => "btn btn-primary btn-lg", :method => 'delete', :data => { :confirm => 'Are you sure?' } %>

    </div>
    <div class="col-md-4"></div>



</div>
